<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}{% endblock %}
	</head>
	<body style="justify-content:center;align-items:center;display:flex;flex-direction:column;min-height:100vh;"> {% block body %}{% endblock %}{% block javascripts %}{% endblock %}
		</body>
	</html>
